.created-container {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(156, 77, 77, 0.2);
  margin: 75px auto;
  overflow: hidden;
  text-align: center;
}

.created-form {
  width: 100%;
}

.created-form h2 {
  margin-bottom: 40px;
}

.created-form p {
  margin-bottom: 30px;
  font-size: 18px;
}

.user-fullname {
  font-weight: bold;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-button {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  display: block;
  margin: 30px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  border-radius: var(--border-radius);
  background-color: var(--default-button-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
