.login-container {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 70px; /* Ensured consistent padding */
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 75px auto;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.login-form h2 {
  margin-bottom: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 25px;
  border: 1px solid #c4c4c4;
  border-radius: var(--border-radius);
  background-color: #fff;
  overflow: hidden; /*Ensures the icon is not visible outside the input field*/
}

.input-group input {
  flex: 1;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

.input-group input::placeholder {
  color: #999;
  transition: color 0.3s ease;
}

.input-group:focus-within {
  border-color: var(--main-color-1);
  box-shadow: 0 0 5px rgba(177, 205, 243, 1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--neutral-color-100);
}

.toggle-password {
  width: 25px;
  height: 25px;
  color: var(--neutral-color-100);
  background-color: #fff;
}

.form-links,
.admin-login-container,
.admin-form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 4px;
}

.admin-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Forgot Password Link */
.forgot-password,
.sign-up,
.admin-login {
  display: block;
  font-size: 14px;
  color: #0000ff;
  text-align: center;
}

.login-button {
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
}

.forgot-password:hover,
.sign-up:hover,
.admin-login:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-container {
    width: 95%;
    padding: 20px;
  }
  .login-button {
    font-size: 14px;
  }
}
