.reset-password-container {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 75px auto;
  overflow: hidden;
}

.reset-form {
  width: 100%;
}

.reset-form h2 {
  margin-bottom: 5px;
  text-align: left;
}

.reset-form p {
  margin-bottom: 40;
  text-align: left;
  font-size: 14px;
}

.input-group-reset {
  width: 100%;
  flex: 1;
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #fff;
}

.input-group-reset input {
  flex: 1;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

.input-group-reset input::placeholder {
  color: #999;
  transition: color 0.3s ease;
}

.input-group-reset:focus-within {
  border-color: var(--main-color-1);
  box-shadow: 0 0 5px rgba(177, 205, 243, 1);
}

.reset-button {
  padding: 10px;
  font-size: 16px;
  display: block;
  text-align: center;
  font-weight: bold;
  border-radius: var(--border-radius);
  background-color: var(--default-button-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .reset-password-container {
    width: 95%;
    padding: 20px;
  }
  .reset-button {
    font-size: 14px;
  }
}
