.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: hidden;
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 25px;
  width: 100%;
}

.aceser-logo-container {
  height: 50px;
  width: 50px;
}

.logo {
  height: 50px;
  width: 50px;
}

.company-container p {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding-left: 10px;
  color: var(--neutral-color-100);
}

.user-greetings-container,
.user-track-container,
.table-container,
.application-container,
.table-row-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
}

.user-track-container,
.application-container,
.table-row-container {
  gap: 10px;
  position: relative;
  border: none;
  padding: 0;
}

.table-container {
  flex-direction: column;
  gap: 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-message {
  font-size: 22px;
  font-weight: 600;
  color: var(--neutral-color-100);
}

.user-highlight {
  color: var(--main-color-1);
}

.message-container p {
  color: var(--neutral-color-80);
}

.time-details,
.time-in-container,
.time-out-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.time-details {
  flex-direction: column;
}

.time-in-out {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.time-in-container svg,
.time-out-container svg {
  color: var(--neutral-color-100);
}

.time-timer {
  font-weight: 600;
  font-size: 20px;
  color: var(--neutral-color-90);
}

.time-in-details p,
.time-out-details p {
  color: var(--neutral-color-80);
}

.user-track,
.table-row {
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 15px;
  height: 100%;
}

.user-track p {
  color: var(--main-color-1);
  font-weight: 600;
  font-size: 22px;
}

.total-user-track {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-number,
.user-number-toggle {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color-1);
}

.user-text {
  color: var(--neutral-color-90);
  font-size: 32px;
  font-style: normal;
}

.data-user-track {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.data-user-track p {
  color: var(--neutral-color-90);
  font-size: 15px;
  font-weight: 600;
}

.user-data-number {
  font-size: 15px;
  font-style: normal;
  color: var(--neutral-color-90);
}

.user-data-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 30px;
}

.table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.table-title p {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color-1);
}

.table,
.table-modal {
  flex-direction: column;
  width: 100%;
}

.table,
.table-header,
.table-content,
.table-modal {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.table-header-container,
.table-content-container,
.pay-period-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  padding: 19px 15px;
  background-color: var(--gray-200);
  position: relative;
  gap: 5px;
}

.table-content-container {
  background-color: var(--gray-50);
  padding: 0 15px;
  min-height: 52px;
}

.dropdown-details {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid var(--gray-200);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 175px;
  height: auto;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  padding: 0;
  display: flex;
  margin-top: 8px;
}

.table-header-container p,
.table-content-container p {
  font-size: 12px;
  font-weight: 600;
}
