.tooltip-container {
  display: flex;
  gap: 10px;
}

.tooltip-button {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.pagination-button {
  padding: 10px;
}

.search-container {
  margin: 0;
  width: 500px;
  background-color: var(--gray-50);
}

.search-container input {
  background-color: var(--gray-50);
}
