@import "../src/fonts/fonts.css";

/*Global Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Root Variables*/
:root {
  --default-button-color: #591fce;
  --hover-button-color: #9064e8;
  --pressed-button-color: #30116f;

  --main-color-1: #0c9cee;
  --main-color-2: #591fce;
  --main-color-3: #3dbdc2;
  --main-color-4: #a1f480;

  --green-status: #00ff00;
  --yellow-status: #f6ff00;
  --red-status: #ff0000;
  --gray-status: #858585;

  --neutral-color-100: #0a0a0a;
  --neutral-color-90: #404040;
  --neutral-color-80: #616161;
  --neutral-color-30: #ededed;
  --neutral-color-20: #f5f5f5;

  --gray-50: #fafafa;
  --gray-200: #e4e4e7;
  --gray-300: #cacace;
  --gray-400: #9096a2;

  --background-color: #f4f4f4;
  --border-radius: 5px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

body {
  background: linear-gradient(
    180deg,
    rgb(12, 156, 238) 0%,
    rgb(61, 189, 194) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/*Anchor Styles*/
a {
  color: var(--main-color-1);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--main-color-2);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--default-button-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-button-color);
}

button:active {
  background-color: var(--pressed-button-color);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--neutral-color-100);
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color-1);
}

.required {
  color: red;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--gray-50);
  width: 250px;
  height: 100vh;
  border-right: 1px solid var(--gray-200);
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background: linear-gradient(
      to left,
      var(--neutral-color-20) 50%,
      var(--neutral-color-30) 50%
    )
    right;
  transition: ease-out 0.4s;
  background-size: 200% 100%;
  color: var(--neutral-color-100);
}

.sidebar-item:hover,
.sidebar-item.active:hover {
  background-position: left;
}

.sidebar-item svg {
  width: 30px;
  height: 30px;
  color: var(--neutral-color-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item.active {
  color: var(--main-color-1);
  background: linear-gradient(
      to left,
      var(--gray-50) 50%,
      var(--neutral-color-30) 50%
    )
    right;
  background-size: 200% 100%;
  gap: 20px;
  font-size: 18px;
}

.sidebar-item.active svg {
  color: var(--main-color-1);
  width: 35px;
  height: 35px;
}

.sidebar-item.active {
  border: 1px solid var(--gray-200);
  border-right: none;
}

.header-content-container {
  width: calc(100vw - 250px);
  margin-left: 250px;
  height: 100vh;
  background-color: var(--gray-50);
}

.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid var(--gray-200);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  background-color: var(--gray-50);
  padding: 0 30px;
  z-index: 100;
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown-arrow {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.user-header p {
  font-size: 22px;
  font-weight: 600;
  color: var(--neutral-color-100);
}

.user-header svg {
  cursor: pointer;
  position: relative;
}

.dropdown-overlay {
  position: absolute;
  top: 100%; /* Moves it below the icon */
  right: 0;
  background: white;
  border: 1px solid var(--gray-200);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 230px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  align-items: center;
  padding: 15px;
  display: flex;
  margin-top: 8px; /* Adds spacing between the icon and dropdown */
}

.dropdown-overlay p {
  font-size: 20px;
  color: var(--neutral-color-100);
  margin-bottom: 20px;
}

.dropdown-item,
.dropdown-item-details {
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: var(--neutral-color-100);
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item-details:hover {
  background-color: var(--gray-200);
}

/* Log Out Button */
.dropdown-item-logout {
  padding: 10px 25px;
  margin-top: 10px;
}

.main-content {
  display: flex;
  gap: 10px;
  margin-left: 250px;
  min-height: 100vh;
  width: 100%;
  margin-top: 80px;
  flex-direction: column;
  background-color: var(--gray-50);
  padding: 10px 30px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-count,
.dots-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots-button-container {
  width: 35px;
  height: 35px;
  justify-content: center;
  background: none;
}

.dots-button {
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.dots-button:hover {
  background: var(--gray-200);
  border-radius: 50px;
}

.dots-button:active {
  background: var(--gray-300);
}

hr {
  border: 1px solid var(--gray-200);
}

.header-hr {
  border: 1px solid var(--gray-400);
}

/* @media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100vw;
    margin-left: 0;
  }
} */
