@import "../src/fonts/fonts.css";

/*Global Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Root Variables*/
:root {
  --default-button-color: #591fce;
  --hover-button-color: #9064e8;
  --pressed-button-color: #30116f;

  --main-color-1: #0c9cee;
  --main-color-2: #591fce;
  --main-color-3: #3dbdc2;
  --main-color-4: #a1f480;

  --neutral-color-100: #0a0a0a;
  --background-color: #f4f4f4;
  --border-radius: 5px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  background: linear-gradient(
    180deg,
    rgb(12, 156, 238) 0%,
    rgb(61, 189, 194) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/*Anchor Styles*/
a {
  color: var(--main-color-1);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--main-color-2);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--default-button-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-button-color);
}

button:active {
  background-color: var(--pressed-button-color);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--neutral-color-100);
}

.required {
  color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}
