@import '../src/fonts/fonts.css';

/*Global Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*Root Variables*/
:root {
  --default-button-color: #591FCE;
  --hover-button-color: #9064E8;
  --pressed-button-color: #30116F;
  
  --main-color-1: #0C9CEE;
  --main-color-2: #591FCE;
  --main-color-3: #3DBDC2;
  --main-color-4: #A1F480;

  --neutral-color-100: #0A0A0A;
  --background-color: #f4f4f4;
  --border-radius: 5px;
}

body {
  background-color: var(--background-color);
  display: flex;
  place-items: center;
  min-width: 500px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Anchor Styles*/
a {
  color: var(--main-color-1);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--main-color-2)
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--default-button-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-button-color);
}

button:active {
  background-color: var(--pressed-button-color);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--neutral-color-100);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}